.about-section,
.why-how-section,
.articles-section {
    max-width: 1200px;
    margin: 0 auto 2rem;
    padding: 2rem;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-content,
.why-how-content,
.article-content {
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 2rem;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-text {
    flex: 1;
}

.about-text p {
    margin: 0 0 1rem;
}

.about-text h1,
.why-how-section h2,
.articles-section h2 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-size: 2rem;
}

.about-text p,
.why-content p,
.how-content li,
.article-content p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.about-image-container {
    flex: 0 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    max-width: 100%;
    height: auto;
}

.why-how-content {
    display: flex;
    gap: 2rem;
}

.why-content,
.how-content {
    flex: 1;
}

.how-content ul {
    list-style-type: none;
    padding-left: 0;
}

.how-content li {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    position: relative;
}

.how-content li::before {
    content: '🦊';
    position: absolute;
    left: 0;
}

.articles-section h3 {
    color: var(--contrast-color);
    margin-bottom: 8px;
}

.articles-section a {
    display: inline-block;
    margin-top: 1rem;
    color: var(--primary-color);
    font-weight: bold;
}

.articles-section a:hover {
    color: var(--contrast-color);
}

/* Responsive design */
@media (max-width: 768px) {
    .about-section,
    .why-how-section,
    .articles-section {
        padding: 1rem;
    }

    .about-content,
    .why-how-content {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .about-image-container {
        flex: 0 0 auto;
        width: 200px;
        margin: 0 auto;
    }

    .how-content ul {
        text-align: left;
    }
}