@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Museo+Moderno&display=swap');

:root {
  --primary-color: #fd8408;
  --secondary-color: #fcd5ae;
  --text-color: #333;
  --background-color: #ffffff;
  --contrast-color: #5E0000;
  
  font-family: 'Gowun Dodum', sans-serif;
}

.extra-font {
  font-family: 'Museo Moderno', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DynaPuff', cursive;
}

/* att göra:
länka till global.style i alla CSS-filer, dvs. :

@import url("global.css");

överst i CSS-filerna
+

<link rel="stylesheet" href="global.css">

i HTML-head
*/