/* Main Content Styles */

main {
    padding: 2rem 0;
}

.fox-img {
    width: 300px;
    height: auto;
}

.monthly-top {
    margin: 0 auto 2rem;
    max-width: 1200px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.monthly-top h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.monthly-container {
    display: flex;
    flex-direction: column;
}

.monthly-container a {
    align-self: flex-end; 
    display: flex;
    gap: 1rem;
    font-weight: 600;
 }

 .monthly-container a:hover {
    color: var(--primary-color);
 }

.hero-img {
    display: flex;
    align-items: center;
}

.books-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: var(--background-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
}

.book:hover {
    transform: translateY(-5px);
}

.book img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

/* Blog Section */

.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.blog-posts {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.blog-post {
    background: var(--background-color);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog-posts h2 {
    text-align: center;
    padding: 2rem 0;
}

.blog-posts p {
    text-align: justify;
}

.blog-posts p a,
.blog-posts h2,
.blog-post h3 {
    color: var(--primary-color);
}

.blog-posts p a:hover {
    color: var(--contrast-color);
}

/* Reviews section */

.reviews {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.review-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--primary-color);
}

.review-title img {
    width: 45px;
    height: auto;
}

.review-content {
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

.review-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-style: italic;
}

.review-card img {
    max-width: 200px;
    margin-bottom: 1rem;
    text-align: center;
}

/* Responsive Design */

@media (max-width: 1250px) {
    .hero-img {
        display: none;
    }

    .blog-grid {
        grid-template-columns: 1fr 1fr;
        margin: 0 2rem;
    }

    .blog-grid .blog-post:nth-child(3) {
        grid-column: span 2;
    }

    .review-card {
        padding: 1rem;
        box-shadow: var(--box-shadow);
    }
}

@media (max-width: 768px) {
    .book img {
        width: 250px;
        height: 300px;
    }
    
    .monthly-container a {
        align-self: center;
    }

    .books-container {
        align-items: center;
    }

    .blog-grid {
        grid-template-columns: 1fr;
    }

    .blog-grid .blog-post {
        grid-column: 1 / -1;
    }

    .review-content {
        flex-direction: column;
        gap: 2rem;
    }
    
    .review-card {
        width: 100%;
    }
}

